body {
    margin-left: 20px;
}

.chatBox {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.msgBox {
    background-color:burlywood;
    padding: 5px 15px;
    border-radius: 15px;
}